<div id="vabout" class="container topview">
	<h1 class="text-center">Sobre Nosotros</h1>
	<hr class="my-2 linea">
	<div class="row">
		<div class="col-md-7 ">
			<div class="card-body text-justify">
				<p><b>Aburto Technologies</b> es una agencia digital que puede impulsar tu negocio aportando nuestros
					talentos y experiencia en el área de diseño web</p>

				<p>Diseñamos o modificamos su sitio web de la mejor manera, ajustandonos al tema y función de tu
					negocio, de manera clara e intuitiva para tus clientes y usuarios.</p>

				<p>Creamos o manejamos publicidad para tus productos en redes sociales ayudando de manera paulativa al
					incremento del notar de tu negocio a nivel social-digital.</p>
			</div>
		</div>
		<div class="col-md-5 align-self-center col-sm-12">
			<img src="images/ab.jpg" class="img-fluid rounded " alt="Responsive image">
		</div>
	</div>


	<hr class="my-4 linea">
</div>