<div id="vabout" class="container topview">
	<h1 class="text-center">Sobre Nosotros</h1>
	<hr class="my-4 linea">
	<div class="row">
		<div class="col-md-7 order-last">
			<div class="card-body text-justify">
				<p>Somos una mini empresa que impulsa tu negocio aportando nuestros talentos y experiencia en el area digital.</p>

				<p>Disenamos tu sitio web de la mejor manera ajustandonos al tema y funcion de tu negocio, de manera clara e intuitiva para tus clientes y usuarios.</p>

				<p>Creamos publicidad digital para tus productos o tus redes sociales ayudando de manera paulativa al incremento del notar de tu negocio a nivel social digital.</p>
			</div>
		</div>
		<div class="col-md-5 align-self-center order-first">
			<img src="images/ab.jpg" class="img-fluid rounded " alt="Responsive image">
		</div>
	</div>
		
		
		<hr class="my-4 linea">
</div>