<div id="vhome" class="topview" ng-controller="homeController">

	<!-- portada -->

	<section class="banner">
		<img class="d-block" src="images/keyboard.jpg" alt="Imagen Banner">
		<div class="container">
			<div class="carousel-caption">
				<h1 class="display-2">{{leyendas.titulo1}}</h1>
				<h3 class="d-none d-md-block d-lg-block d-xl-block">{{leyendas.subtitulo1}}</h3>
				<h4>{{leyendas.contenido1}}</h4>
				<a href="#!/contact" class="btn btn-primary btn-lg btn-block">Más Información</a>

			</div>
		</div>

	</section>


	<!-- jumbotron -->
	<div class="container-fluid bg-transparent d-none d-md-block d-lg-block d-xl-block">
		<div class="container">
			<div class="row py-2 align-items-center">
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
					<div class=" text-white">
						<h4 class="text-right float-right">“Lo que la gente dice de ti será la métrica más importante en
							el futuro”
							<p class="lead float-right">(Shiv Singh)</p>
						</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
					<a href="#!/blog" class="btn btn-primary btn-lg btn-block">Blog de Aburtito</a>
				</div>
			</div>
		</div>

	</div>


	<!-- servicios section -->
	<div class="container-fluid padding">
		<div class="container">
			<div class="row welcome text-center py-3">
				<div class="col-12">
					<h2 class="">Servicios<br>
						<h1 class="display-4">Diseño Web</h1>
					</h2>
				</div>
				<hr>
			</div>
			<div class="row text-center padding">
				<div class="col-xs-12 col-md-4">

					<img src="images/s1.png" class="rounded-circle img-fluid servicesimg" alt="Social Media Image">
					<h3 class="h3t">PSD a Diseño Responsivo</h3>
					<p class="text-justify">Tu idea o diseño la creamos a HTML5/CSS3 hecho a medida, responsivo, y
						compatible con la mayoria de navegadores incluyendo Internet Explorer version 10, nuesro codigo
						es limpio y estructurado usando Media Queries para ajustarnos a cualqueir dispositivo.
					</p>
				</div>
				<div class="col-xs-12  col-md-4">
					<img src="images/webp/de.webp" class="rounded-circle img-fluid servicesimg"
						alt="Social Media Image">
					<h3 class="h3t">PSD a HTML5</h3>
					<p class="text-justify">Diseñamos y Desarrollamos el sitio web de tu empresa, negocio u organización
						ya tengas tu diseño en cualquiera de los sigueintes archivos (PSD, XCF, SVG, AI, PNG), este tipo
						de servicio solo incluye la vista de escritorio no contiene vista movil osea no es responsivo.
					</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<img src="images/webp/des.webp" class="rounded-circle img-fluid servicesimg"
						alt="Social Media Image">
					<h3 class="h3t">HTML a Diseño Responsivo</h3>
					<p class="text-justify">Tomamos tu sitio ya creado hace unos años atras o que no es 100% responsivo
						y lo convertimos en un sitio totalmente adaptable a cualquier dispositivo y navegador moderno.
					</p>
				</div>
			</div>

		</div>

	</div>

	<!-- servicios -->

	<hr class="my-4 linea">
	<!-- fixed backg -->
	<figure>
		<div class="parallax">
			<div id="fixed">
			</div>
		</div>
	</figure>


	<!-- two column section -->
	<div class="container py-5 porque">
		<div class="row">
			<div class="col-md-12 col-lg-6 coli">
				<h2 id="ta" class="text-right">¿Por que nos diferenciamos?</h2>
				<p class="text-right sizep">La pasión en el trabajo se consigue cuando uno se dedica a aquello que
					constituye el fundamento o meta de su vida y además tiene las competencias personales y capacidades
					profesionales para
					desarrollarlo y disfrutar haciéndolo.</p>

				<p class="text-right sizep">En Aburto Technologies ponemos el empeño y atención que su empresa, negocio
					u organización merece, resultando en la calidad diferencial que profesionalmente podemos ofrecer.
				</p>

			</div>
			<div class="col-lg-6 cold">
				<img src="images/webp/desk.webp" class="img-fluid shadow" alt="">
			</div>
		</div>
	</div>



	<!-- meet the team -->
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Conoce al Equipo</h1>
			</div>
			<hr>
		</div>
	</div>


	<!-- cards -->
	<div class="container padding">
		<div class="row padding">
			<div class="col-md-4">
				<div class="card">
					<img src="images/avatar3.png" class="card-img-top" alt="">
					<div class="card-body">
						<h4 class="card-title">Enrique A.</h4>
						<p class="card-text text-justify">Ingeniero en Sistemas de Información con amplios conocimientos
							en el área de tecnologia, diseño, desarrollo y el mejor uso de las mismas.</p>
						<a href="https://kikingke.github.io/aburtocampos" class="btn btn-outline-secondary">Ver
							Perfil</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<img src="images/avatar2.png" class="card-img-top" alt="">
					<div class="card-body">
						<h4 class="card-title text-justify">José S.</h4>
						<p class="card-text">Lic. en Ciencias de la Computación que aporta talento en el área de
							diseño y desarrollo digital de las marcas y manejo de social media y web semántica.</p>
						<a href="https://bit.ly/joseurl" class="btn btn-outline-secondary">Ver Perfil</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<img src="images/avatar1.png" class="card-img-top" alt="">
					<div class="card-body">
						<h4 class="card-title">Emilce P.</h4>
						<p class="card-text text-justify">Analista de calidad, experta en redes sociales y fotografia
							entre otros.</p>
						<a href="#" class="btn btn-outline-secondary">Ver Perfil</a>
					</div>
				</div>
			</div>
		</div>
	</div>




</div>



<script>

	//to make the carousel touch
	$(document).ready(function () {

		$(".carousel").swipe({

			swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

				if (direction == 'left') $(this).carousel('next');
				if (direction == 'right') $(this).carousel('prev');

			},
			allowPageScroll: "vertical"

		});

	});


	// const carouselEl =;

	// Bootstrap carousel needs to be loaded first
	//  $('.my-carousel').carousel().swipeCarousel({
	//   sensitivity: 'high',
	//    keyboard:true// low, medium or high
	// });
	$('.carousel').carousel({
		sensitivity: 'high',
		keyboard: true// low, medium or high
	});



</script>
